.linked {
  padding:4px 13px;
  margin:0;
  border-radius:.25rem;
}
.linked a:hover {
  color: #2ddbac;
}

.linked:hover {
    background-color: rgba(0,0,0,.05);
}


.subUl ul {
  margin-bottom: 0.3rem !important
}