.api {
    color:#1c1e21;
    font-size: 3rem;
    font-weight: bold;
}

.intro {
    color: rgb(28, 30, 33);
    font-size: 28px;
    font-weight: 600;
}

.text {
    line-height: 30px;
    font-size: 18px;
}

.previous {
    border: 1px solid #dadde1;
    border-radius: 5px;
    border-color: #dadde1;
    text-align: left;
    padding: 1rem;
}

.previous:hover {
    border-color: #2ddbac;
}

.previous a {
    text-decoration: none !important;
}

.previous h5 {
    color: #606770;
    font-weight: 500;
    font-size: .975rem;
}

.previous h4 {
    font-size: 1rem;
    color: #2ddbac;
    font-weight: 600;
    line-height: 20px;
}

.next {
    text-align: right !important
}

.comments {
    color:#6272a4;
}

.coding {
    color: rgb(191, 199, 213);
    background-color: rgb(41, 45, 62);
    border-radius: 5px;
    padding: 1.5rem 1.5rem;
    /* padding-bottom: 0px; */
}

.copyBtn {
    background: #011627;
    border: 1px solid #d6deeb;
    border-radius: 8px;
    line-height:12px;
    padding: 4px 8px;
    color:#d6deeb;
    /* opacity:0; */
    left: 94%;
    bottom: 88px;
    position: relative;
    /* visibility: hidden; */
}
.limit {
    color: rgb(28, 30, 33);
    font-size: 18px;
    font-weight: 600;
}
.get {
    font-size: 20px;
    background-color: #2ddbac;
    color: #fff;
    padding: 3px 8px ;
    margin: 5px;
    font-weight: lighter;
}

.pText {
    /* background-color: rgba(27,31,35,.05); */
    border-radius: 3px;
    padding:5px;
    color: #6a737d;
    font-weight: bold;
}

@media (min-width: 200px) and (max-width: 991.98px) {
    .api {
        font-size: 2.1rem;
        /* text-align: center; */
    }
}